body{
    margin: auto;
}
.search{
    margin: 1em;
}
.search_line1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}
.search_line2{
    font-size: 2em;
    width: 70%;
    height: 2em;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.search_button{
    width: 15%;
    color: white;
    font-size: 2em;
    background-color: #8aff0e;
}
.person_span{
    color: blue;
    margin: 1em;
    font-size: 2em;
    font-family: Arial;
}
.book_a{
    margin: 1em;
    font-size: 1.4em;
    font-family: Arial;
    color: #f9f9f9;
    background-color: aqua;
    padding: 0.2em;
    text-decoration: none;
}
.book_span{
    margin: 1em;
    font-size: 2em;
    font-family: Arial;
}
