body{
    margin: 0;
    border: 3px solid black;

}
.content{
    display: flex;
}
.sam_img{
    width: 5em;
    height: 75%;
}
.redac_button{
    background-color: darkgreen;
    color: white;
}
.delete_button{
    background-color: darkgreen;
    color: white;
}