body{
    margin: 0;

    /*background-image: url(https://phonoteka.org/uploads/posts/2021-05/1620756097_12-phonoteka_org-p-foni-dlya-biblioteki-stim-13.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-color: rgb(0,0,0,0.5);*/
}


/*FOR NAVBAR*/

#toggle{
    display: none;
}
.navbar {
    background-color: #434343;
    max-width: 100%;
    height: 4em ;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}
.navbar_hidden_top{
    padding-top: 1em;
    background-color: #434343;
    display: none;
}
.navbar_hidden_top a{
    color: white;
    font-size: 1em;
    text-decoration: none;
}
.navbar_hidden_top div{
    padding: 1em;
}
.navcenter{
    display: flex;

}
.navcenter a{
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
}
.navright{
    display: flex;
    align-items: center;
}
.language {
    display: inline-block;
    padding: 2em;
}
.language a{
    color: white;
    font-size: 1.4em;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.language:hover .dropdown-content {
    display: block;
}
.login a{
    color: white;
    font-size: 1.4em;
    text-decoration: none;
}

/* welcome */

.navbar_hidden{
    display: none;
}


/*persons*/
.infos{
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction:column;
}
.person_and_button{
    display: flex;
    flex-wrap: wrap;
}
.persons :hover{
    font-size: 45px;
    background-color: aqua;
}
.persons{
    margin-top: 2em;
    margin-left: 3em;
}
.add_new_person_a {
    margin-left: 30%;
    margin-top: 10em;
    display: block;
    width: 30%;
    height: 10%;
    background: #8aff0e;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
.add_new_person_div :hover{
    background: red;
}
.person_iframe{

    background: none;
    height: 100%;
    border: none;
    overflow: hidden;
}

/*other*/
.other{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.other .ask{
    width: 20em;
    height: 15em;
    border: 4px solid black;
    border-radius: 4px;
}

.otherword{
    padding-top: 3px;
    padding-left: 3px;
    align-items: center;

    height: 10%;
    width: 100%;
    color: white;
    background-color: red;
}

.askimg{
    width: 100%;
}


/* footer */
.footer{
    background-color: #434343;
    max-width: 100%;
    height: 22em;
}
.footer1{
    height: 80%;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer1_div1  img{
    width: 7.5em;
}
.footer1_div1 span{
    display: block;
    color: rgb(134, 158, 179);
}
.footer1_div2 a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.footer1_div3 h2{
    color: white;
}
.footer1_div3 div{
    color: rgb(134, 158, 179);
}
.footer1_div4 h2{
    color: white;
}
.footer2{
    align-items: center;
    text-align: center;
    color: #f1f1f1;
    padding-top: 0.8em;
}


/*media*/

@media screen and (max-width:1208px) {
    .library_video_content{
        height: 45em;
    }
    .footer1_div2{
        display: none;
    }
}
@media screen and (max-width:720px){
    .navbar_hidden{
        display: block;
    }
    .navcenter{
        flex-direction:column;
        display: none;
    }
    #toggle:checked+.navbar_hidden_top{
        display: block;
        flex-direction:column;

    }
}
@media screen and ( max-width:627px){
    .footer1_div3{
        display: none;
    }
}
@media screen and ( max-width:393px){
    .footer1_div1{
        margin-top: 1em;
        margin-left: 2em;
        text-align: center;
    }
    .footer1_div4{
        text-align: center;
        margin-left: 2em;
    }
    .footer1_div4 img{
        width: 3em;
    }
}
