<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/people-show.css}" rel="stylesheet" />
    <title>Show</title>
</head>
<body>

    <div class="content">
        <div class="img">
            <img class="sam_img" src="https://avatars.mds.yandex.net/i?id=f9f3d2907ff5ae2ad38cfff33a77ccb4-4219714-images-thumbs&n=13" alt="">
        </div>
        <div class="info">
            <p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</p>

            <div th:if="${books.isEmpty()}">
                <p>Человек пока не взял ни одной книги</p>
                <hr/>
            </div>

            <div th:if="${!books.isEmpty()}">
                <hr/>
                <b>Книги:</b>
                <br/>
                <table th:each="book : ${books}">
                    <tr>
                        <td>
                    <span th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"
                          th:style="${book.isExpired()} ? 'color: red' : 'color: black'">
                     book
                     </span>
                        </td>
                    </tr>
                </table>
                <hr/>
            </div>

            <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
                <input class="redac_button" type="submit" value="Редактировать"/>
            </form>

            <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
                <input class="delete_button" type="submit" value="Удалить"/>
            </form>
        </div>

    </div>



</body>
</html>