<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/books-searh.css}" rel="stylesheet" />
    <title>Show</title>
</head>
<body>
<div>
    <form class="search"  th:method="POST" th:action="@{/books/search}">
        <label class="search_line1" for="query">Введите поисковой запрос: </label>
        <input  class="search_line2"  type="text" id="query" name="query" placeholder="Search.."/>
        <br>
        <input class="search_button" type="submit" value=""/>
    </form>
    <div th:if="${books}">
        <div th:if="${books.isEmpty()}">
            <span class="book_span">Книг не найдено</span>
        </div>

        <div th:each="book : ${books}">
            <div>
                <a class="book_a" th:href="@{/books/{id}(id=${book.getId()})}"
                   th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</a>

                <div th:if="${book.getOwner() != null}">
                    <span class="book_span">Книга сейчас у: </span> <span class="person_span" th:text="${book.getOwner().getFullName()}">Person Name</span>
                </div>

                <div th:if="${book.getOwner() == null}">
                    <span class="book_span">Книга свободна</span>
                </div>

                <hr/>
            </div>

        </div>
    </div>
</div>

</body>
</html>