body{
    margin: 0;
}

.content{
    width: 30%;
    height: 30em;
    background-color: aliceblue;
    margin: auto;
    margin-top: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box_change{
    display: flex;

}
.open_button{
    text-align: center;
    width: 100%;
    background-color: aqua;
    cursor: pointer;
    color: green;
    font-size: large;
    font-weight: bolder
}
#error_log{
    color: red;
}
.open_button:hover{
    background-color: aliceblue;
    color: green;
}
.log_or_reg{
    
    width: 30%;
    
    margin: auto;
    display: flex;
    justify-items: center;
    justify-content: space-around;
}
.register_box{
    display: none;
}
